* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  background: black;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.generate-tree-button {
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  z-index: 10;
  cursor: pointer;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  border-radius: 50px;
  background: blue;
  color: #fff;
  font-family: 'Helvetica', cursive;
  font-size: 20px;
  overflow: hidden;
}
